<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Личный кабинет администратора</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/index.css}">
</head>
<body>
<header>
    <h1 class='logo'>Online store</h1>
    <nav>
        <form method="post" th:action="@{/logout}">
            <input type="submit" value="Выйти из личного кабинета">
        </form>
        <form method="get" th:action="@{/orders}">
            <input type="submit" value="История заказов">
        </form>
        <button class='add-cart'>
        <a class="nav-card" href="admin/product/add">Добавить товар</a>
        </button>
    </nav>
</header>
<h2>Личный кабинет администратора</h2>
<div id="products-section">
    <div id="products">
<div id="products-item" th:each="product : ${products}">
    <p class="zena" th:text="'Наименование: ' + ${product.getTitle()}"></p>
    <p th:text="'Описание: ' + ${product.getDescription()}"></p>
    <p class="zena" th:text="'Цена: ' + ${product.getPrice()}"></p>
    <p class="zena" th:text="'Склад: ' + ${product.getWarehouse()}"></p>
    <p class="zena" th:text="'Продавец: ' + ${product.getSeller()}"></p>
    <p class="zena" th:text="'Категория: ' + ${product.getCategory().getName()}"></p>
    <button class='add-cart'>
    <a class="nav-item"  th:href="@{/admin/product/edit/{id}(id=${product.getId()})}">Редактировать товар</a>
    </button>
    <button class='add-cart'>
    <a class="nav-item" th:href="@{/admin/product/delete/{id}(id=${product.getId()})}">Удалить товар</a>
    </button>
</div>
    </div>
</div>
</body>
<footer>
    <div class='logo'>Online store</div>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec non bibendum erat, a hendrerit lacus. Sed sit amet tellus ex. In dictum, nibh et finibus condimentum, sapien dolor consequat felis, et faucibus enim augue faucibus nibh
        <br />
        <br />
        Nam non aliquam nibh. Pellentesque ullamcorper rutrum orci ut scelerisque. Integer consequat eget lacus gravida iaculis. Morbi ac turpis non elit vulputate maximus at ac elit. In porta massa eget eros sagittis, nec tincidunt felis ullamcorper.
    </p>
</footer>
</html>